body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/R.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pixelify Sans', serif;
    font-weight: 500;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}

.box{
    border: 7px double green;
    border-radius: 0.7em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.box > h2 {
    color: yellowgreen;
    margin-top: 0;
}

.box > ul{
    list-style-type: none;
    padding: 0;
}

.box > ul > li > a{
    color: grey;
    text-decoration: none;
}